* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(204, 27, 27);
  --secondary: rgb(229, 229, 229);
  --textcolor: #131313;
  --headings: Quasimoda;
  --body: Poppins;
}

h1 {
  font-family: var(--headings);
}
h2 {
  font-family: var(--body);
}
/* NAVIGATION */

nav ul {
  /* display: flex;
  flex-direction: row; */
}
header {
}
li {
  list-style: none;
  font-family: var(--body);
}
ul {
}

a {
  text-decoration: none;
}
#topbar {
}

/* NAV BUTTONS */
#login {
  background-color: var(--primary);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;

  border-radius: 30px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#login > a {
  color: white;
}

#signup {
  background-color: var(--secondary);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;

  border-radius: 30px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#signup > a {
  color: var(--textcolor);
}

/* SEARCHBAR */
input {
  border: none;

  background-color: transparent;
}
form {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 6rem;
}

/* CENTER TITLE */
#sitename {
  align-self: center;
}
