* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(204, 27, 27);
  --secondary: rgb(229, 229, 229);
  --textcolor: #131313;
  --headings: Quasimoda;
  --body: Poppins;
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}
h1 {
  font-family: var(--headings);
}
li {
  list-style: none;
  font-family: var(--body);
}
ul {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

#login {
  background-color: var(--primary);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;

  border-radius: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-self: flex-end;
}
#login > a {
  color: white;
}

#signup {
  background-color: var(--secondary);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;

  border-radius: 2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-self: flex-end;
}

#signup > a {
  color: var(--textcolor);
}

input {
  border: none;

  background-color: transparent;
}
form {
  background-color: var(--secondary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-right: 6rem;
}

#sitename {
  align-self: center;
}
